@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .max-w-full-calc {
    max-width: calc(100% - 84px);
  }

  .comment::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-right: 8px solid white;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    left: -8px;
    top: 24px;
  }

  .reply::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-right: 8px solid white;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    left: -8px;
    top: 14px;
  }

  .avatar-img {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 800ms;
    transform: rotate(-360deg);
  }

  .avatar-img:hover {
    transform: rotate(360deg);
  }  
}